@model Core.GroupSettings
<div class="content-wrapper">
    <div>
        <div class="float-left" style="padding-right: 20px">
            <p>&copy; 2001 - @DateTime.Now.Year @Model.Name</p>
        </div>
        <div class="float-left" style="padding-right: 20px">
            <a href="https://www.facebook.com/groups/@Model.FacebookGroupName/" target="_blank">
                <img src="@Url.Content("~/images/icon_facebook_32.png")" />
            </a>
        </div>
        <div class="float-left" style="padding-right: 20px">
            <a href="https://www.linkedin.com/groups?gid=@Model.LinkedInGroup" target="_blank">
                <img src="@Url.Content("~/images/icon_linkedin_32.png")" />
            </a>
        </div>
        <div class="float-left" style="padding-right: 20px">
            <a href="https://twitter.com/@Model.TwitterHandle" target="_blank">
                <img src="@Url.Content("~/images/icon_twitter_32.png")" />
            </a>
        </div>
        <div class="float-left" style="padding-right: 20px">
            <a href="http://www.meetup.com/@Model.MeetupGroupName/" target="_blank">
                <img src="@Url.Content("~/images/icon_meetup_32.png")" />
            </a>
        </div>
        <div class="float-left" style="padding-right: 20px">
            <a href="emailto:@Model.EmailAddress">
                <img src="@Url.Content("~/images/icon_email_32.png")" />
            </a>
        </div>
    </div>
    <div style="clear: both;"></div>


</div>
